*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.text-uppercase{
    text-transform: uppercase;
}
.img-fluid-avatar {
    max-width: 30%;
    height: auto;

}
.img-fluid {
    max-width: 100%;
    height: auto;

}

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;

}
/*navbar*/
nav{
    font-family: 'Montserrat', sans-serif;
    background-color: #2C3E50;
    color: #fff;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    position: fixed;/*position fixed yapınca width:100%, position:fixed verince akıştan çıkar*/
    width: 100%;
    z-index: 500;
}
#logo-box .logo{
    color: #fff;
    font-weight: 700;
    font-size: 3.2rem;
}
#logo-box{
    float: left;
    padding-top: .5rem;
}
#nav-links{
    float: right;
}
.clearfix::after{
    /*overflow: hidden;*/
    content: "";
    display: block;
    clear: both;
}
#nav-links  .nav-item{
    float: left;
    margin: .4rem;
}
#nav-links .nav-link{
    color:#fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: .1rem;
    transition: color .3s;
}
#nav-links .nav-link:hover{
    color: #18bc9c;
}
/*Header*/
header{
    background-color: #18bc9c;
    padding-top: calc(112px + 10rem);
    padding-bottom: 112px;
    text-align: center;
}
header h1{
    color:#fff;
    font-size: 7.6rem;
}
header h2{
    color:#fff;
    font-size: 2.8rem;
    font-family: 'Lato';
    font-weight: 300;

}
/*star-light*/
hr.star-light{
border-color: #fff;
}
hr.star-dark{
border-color: #2C3E50;
}
.star-light,.star-dark{
    border: none;
    border-top: .4rem solid;
    max-width: 25rem;
    margin:2.5rem auto;
    overflow: visible;
    height: 0;
    
}
.star-light::after,.star-dark::after{
    content: "\f005";
    font-family: "Font Awesome 5 Free";
    
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -25px;
    
    padding-left:  0.8rem ;
    padding-right: 0.8rem;
    

}
.star-light::after{
    color: #fff;
    background-color:#18bc9c;
}
.star-dark::after{
    color:  #2C3E50;
    background-color:#fff;
}
/*portfolio*/
#portfolio{
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;

}
#portfolio h2{
    font-size: 4.8rem;
    color:#2C3E50;
}
.col{
    float: left;
    width: 33.33%;
   
    padding:10px;
}


.portfolio-item{
    position: relative;
}
.portfolio-item img{
    display: block;/*img ile search buton ust uste gelecek diye display:block yaptık, img-overlay div block zaten*/

}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #18bc9c;
    opacity:0;
    transition: opacity .5s ease;
   
}
.img-overlay .icon{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.portfolio-item:hover .img-overlay{
    opacity: 0.8;
}